*{
    box-sizing: border-box;
}

body{
    text-align: center;
}

.pokemon{
    width: 160px;
    padding: 5px 9px;
    font-size: 0.9em;
}

.btn{
    padding:6px 15px;
    background-color:rgb(119, 215, 119);
    border: 1px solid #333;
    cursor: pointer;
    text-decoration: none;
    color: #222;
    font-weight:bold ;
}

img{
    background-color: #ddd;
    margin: 5px 5px;
    border:1px solid #333;
}

.card{
    width: auto;
    height: 400px;
    border: 3px solid #444;
    display: inline-block;
    margin: 5px 10px;
    text-align: center;
}